.DS_Store
*.pyc
*.o
*.map
*.lab
*.bak
*.prg
*.tas
*.do
tmp/
/files/backpacked
/files/compressed
/files/extracted
/files/original
/files/patched
/regenerator/Regenerator*
/regenerator/Config/Systems
!/images/*.prg
!/files/savegame/*/*.prg
