.DS_Store
*.pyc
*.o
*.d
*.map
*.lab
*.bak
*.prg
*.tas
*.do
src/trainer/TRAINERS.cfg
tmp/
/files/backpacked
/files/compressed
/files/extracted
/files/original
/files/patched
/regenerator/Regenerator*
/regenerator/Config/Systems
!/images/*.prg
!/files/savegame/*/*.prg
